# dependencies
node_modules/

# next.js
.next/
out/

# env files (IMPORTANT)
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
Thumbs.db